<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/GogaTizen" version="1.0.0" viewmodes="maximized">
    <access origin="https://goga-api.herokuapp.com/" subdomains="true"></access>
    <tizen:application id="9ILCbbVpAr.GogaTizen" package="9ILCbbVpAr" required_version="3.0"/>
    <author email="hssen.khmaies@esprit.tn">Khmaies Hassen</author>
    <content src="login.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>GogaTizen</name>
    <tizen:profile name="mobile"/>
</widget>
